<h1>Skills</h1>
<ol>
<% @skills.each do |skill| %>
  <li><%= link_to skill.name, skill_path(skill) %></li>
<% end %>
</ol>
<% else %>
<p>There are no tasks yet!</p>
<% end %>

<p><%= link_to "Add a skill", new_skill_project_path(@skill) %></p>
