<h4 class="center-align"><%= @skill.name %></h4>
<% if @skill.projects.any? %>
<h4>Here is this skill's Projects:</h4>
<ul>
<% @skill.projects.each do |project| %>
  <%=project.name%>
<% end %>
</ul>
<% else %>
<p class="center-align">No projects</p>
<% end %>
