  <!--Hero-->
<!-- <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>Welcome to</span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">my Portfolio</b>
                <b>The story of my life</b>
                <b>know what i do for you.</b>
            </span>
        </h1>
    </div>
</div> -->

<!-- #parallax -->
  <!-- <div class="parallax-container">
    <div class="parallax"><img src=""></div>
  </div>
-->
  <div class="parallax-container">
  <div class="parallax">
    <h2 class="center" style="color: white; padding-top: 100px;">Nerjeep Aeint Junior.</h2>
  </div>
</div>
<!-- <div class="view intro hm-purple-slight jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mdbootstrap.com/img/Photos/Others/background.jpg);">
    <div class="full-bg-img">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
                <div class="row mt-5">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="intro-info-content text-center">
                            <h1 class="display-1 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">Welcome on my page!</h1>
                            <h4 class="mb-3 mt-1 white-text font-bold wow fadeIn" data-wow-delay="0.4s">Lorem ipsum dolor sit amet</h4>
                            <a class="btn btn-pink wow fadeIn" data-wow-delay="0.4s">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
