<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
<div class="container">
<h1 class="text_h center header cd-headline letters type">
<span>Welcome to
</span>
<span class="cd-words-wrapper waiting">
<b class="is-visible">
my Portfolio</b>
<b>The story of my life</b>
<b>know what i do for you.</b>
  </span>
  </h1>
  </div>
  </div>

  <!--Parallax-->
  <div class="parallax-container">
  <p>Billy was founded on the basic idea that paying your bills could be made easier if a single platform existed where all your payment needs could be catered for. Billy works by giving you a dashboard with all your bills already linked to their respective companies and at the press of a button, you can pay them all.</p>
  <!-- <div class="parallax"><img src="https://images.pexels.com/photos/50987/money-card-business-credit-card-50987.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"></div> -->
  </div>
